---
layout: default
title: The Garment Factory &bull; Where Ideas Are Made
description: "The Garment Factory is a unique space in Glasgow’s Merchant City, where the environment is as innovative and creative as the tenants."
class: index
hero_button: true
---

{%include hero.html%}

<div class="bg-texture-moon-gray">
  <div class="mw8 center ph3 ph0-l">
    <div class="bg-white w-50-l pa4 nt5 relative z-2">
      <p class="lh-copy ma0 tracked">The Garment Factory is a unique space in Glasgow’s Merchant City, where the environment is as innovative and creative as the tenants. Our vision is to create contemporary flexible office space designed to appeal to a range of tenants. </p>
    </div>
    <div class="flex flex-column flex-row-ns items-center-ns mt5">
      <div class="w-100 w-50-m w-40-l pr3-ns order-2 order-1-ns">
        <h2 class="black ttu f3 f2-m f1-l mt0">Welcome to The Garment Factory</h2>
        <div class="tracked pr4-l pb3 lh-copy">
          <p>Curabitur tristique velit lacus, vel sagittis nisi ornare ac. Fusce semper magna nisi, a pulvinar felis bibendum sed. Nunc commodo non ipsum eget ullamcorper. Quisque ele mentum enim eu mi semper pellentesque. Nullam nec facilisis arcu, quis porta ligula. Augue eget sapien ornare consectetur.</p>
          <p>Curabitur tristique velit lacus, vel sagittis nisi ornare ac. Fusce semper magna nisi, a pulvinar felis bibendum sed. Nunc commodo non ipsum eget ullamcorper. Quisque ele mentum enim eu mi semper pellentesque. Nullam nec facilisis arcu, quis porta ligula. Augue eget sapien ornare consectetur.</p>
        </div>
        <a class="{{site.yellow_button_classes}} playFilm" href="javascript:void(0)">Play Video</a>

      </div>
      <div class="pl3-ns order-1 order-2-ns mb4 mb0-ns w-100 w-50-m w-60-l">
        <div class="relative">
          <a href="javascript:void(0)" class="db absolute absolute-center z-2">
            <img class="grow-large playFilm" src="/images/play.png" alt="Play Film" title="Play Film">
          </a>
          <img src="/images/video-screenshot.jpg" class="db z-1 relative" alt="Screenshot of welcome video">
        </div>
      </div>
    </div>

    <div class="flex flex-column flex-row-ns justify-between-ns mt5">
      <div class="mb4 mb0-ns w-100 w-50-m w-70-l pt4-ns">
        <img src="/images/location.jpg" class="db z-1 relative" alt="Photo of the location of The Garment Factory">
      </div>
      <div class="w-100 w-50-m w-30-l relative z-2 pl4-m">
        <h2 class="black ttu f1-m f-subheadline-l ma0 mt0-ns nl5-m nl6-l tr-l">Location</h2>
          <div class="tracked mb3 lh-copy">
            <p>Curabitur tristique velit lacus, vel sagittis nisi ornare ac. Fusce semper magna nisi, a pulvinar felis bibendum sed. Nunc commodo non ipsum eget ullamcorper. Quisque ele mentum enim eu mi semper pellentesque. Nullam nec facilisis arcu, quis porta ligula. Augue eget sapien ornare consectetur.</p>
          </div>
          <a class="{{site.yellow_button_classes}}" href="/location">Explore</a>
      </div>

    </div>

    <div class="flex flex-column flex-row-ns justify-between-ns mt5 pb4">
      <div class="w-100 w-50-ns mb3 mb0-ns pr3-m pr5-l">
        <h2 class="black ttu f-subheadline-ns ma0 mt0-ns pl3 f2 f1-ns relative z-2">Office</h2>
        <div class="nt3 nt4-ns">
          <img src="/images/office-interior.jpg" alt="Photo of office interior of The Garment Factory">
          <div class="cf">
            <div class="bg-white w-75-l pa3 nt4-ns relative z-2 fr">
              <p class="lh-copy ma0 tracked">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla egestas gravida odio et blandit. Nullam aliquet odio in urna lacinia aliquet.</p>
            </div>
          </div>
          <div class="cf">
            <a class="{{site.yellow_button_classes}} fr-ns" href="/office">Look around</a>
          </div>

        </div>
      </div>

      <div class="w-100 w-50-ns pl3-m pl5-l">
        <h2 class="black ttu ma0 nt4-m nt3-l lh-solid pl3 f3 f2-ns relative z-2">Retail<br> Opportunities</h2>
        <div class="nt4">
          <img src="/images/retail-opportunities.jpg" alt="Photo of office interior of The Garment Factory">
          <div class="pl4-l">
            <div class="bg-white w-75-l pa3 nt4-ns relative z-2 fl">
              <p class="lh-copy ma0 tracked">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla egestas gravida odio et blandit. Nullam aliquet odio in urna lacinia aliquet.</p>
            </div>
            <a class="{{site.yellow_button_classes}}" href="/retail">Discover</a>
          </div>

        </div>
      </div>
    </div><!-- /flex -->
  </div><!-- /mw8 -->
</div><!-- /bg-texture -->

<div class="bg-texture-mid-gray pv4 white">
  <div class="mw8 center ph3 ph0-l">
    <div class="flex flex-column flex-row-ns justify-between-ns items-center-ns">
      <div class="w-100 w-50-ns pr3-m pr5-l">
        <h3 class="ttu f2 f1-ns ma0">Can your Business <br><span class="yellow">cut it here?</span></h3>
      </div>

      <div class="w-100 w-50-ns pl3-m pl5-l lh-copy tracked">
        <p>Innovative and creative space for innovative and creative people.</p>
        <p>If this sounds like a good fit, get in touch.</p>
        <a class="{{site.yellow_button_classes}}" href="/info">Find out more</a>
      </div>
    </div><!-- /flex -->
  </div>
</div>

<div class="bg-texture-yellow pv5 black">
  <div class="mw8 center ph3 ph0-l">
    {%include enquiries.html%}
  </div>
</div>

<div id="videoModal" class="fixed top-0 left-0 right-0 bottom-0 z-999 w-100 h-100 bg-black-80 dn">
  <a class="absolute db top-1 right-1 close-modal z-9999" href="javascript:void(0)">
    <img class="" src="/images/close.png" alt="Close Modal" title="Close Modal">
  </a>
  <div class="flex items-center justify-center h-100">
    <iframe id="welcomeVideo" src="https://player.vimeo.com/video/225956849?title=0&byline=0&portrait=0?api=1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
