---
layout: default
title: Location
description: "The Garment Factory is located in the heart of the vibrant Merchant City and only a 2 minute walk from Merchant Square."
class: location
hero_title: "Location"
sub_nav:
  - Merchant City
  - Gallery
  - Local Area
  - Connections

image_slider:
  - image: taking-a-stroll
    title: Taking a stroll through Merchant Square
  - image: office-space
    title: Office Space
  - image: festival
    title:

connections:
  - location: High Street
    destination: Train Station
    time: 5.0
    movement: walk
  - location: Argyle Street
    destination: Train Station
    time: 6.0
    movement: walk
  - location: Queen Street
    destination: Train Station
    time: 9.0
    movement: walk
  - location: Buchanan Street
    destination: Subway Station
    time: 9.0
    movement: walk
  - location: Glasgow Central
    destination: Train Station
    time: 10.0
    movement: walk
  - location: Buchanan Street
    destination: Bus Station
    time: 12.0
    movement: walk
  - location: M8 Motorway
    time: 4.0
    movement: drive
  - location: Glasgow Airport
    time: 14.0
    movement: drive

map:
  - title: "Deloitte"
    type: "occupier"
  - title: "HM Revenue & Customs"
    type: "occupier"
  - title: "The Drum"
    type: "occupier"
  - title: "University of Strathclyde"
    type: "occupier"
  - title: "Anderson Strathearn"
    type: "occupier"
  - title: "Glasgow City Marketing Bureau"
    type: "occupier"
  - title: "Bridgestone Independent Investment Management"
    type: "occupier"
  - title: "Gandolfi Fish"
    type: "food-drink"
  - title: "Hutchisons Bar & Brasserie"
    type: "food-drink"
  - title: "Guys"
    type: "food-drink"
  - title: "Sapporo Teppanyaki"
    type: "food-drink"
  - title: "Cafe Gandolfi"
    type: "food-drink"
  - title: "Bacchus"
    type: "food-drink"
  - title: "Babbity Bowster"
    type: "food-drink"
  - title: "The Wilson Street Pantry"
    type: "food-drink"
  - title: "Cruise"
    type: "shopping"
  - title: "Ralph Lauren"
    type: "shopping"
  - title: "Buchanan Galleries"
    type: "shopping"
  - title: "Mulberry"
    type: "shopping"
  - title: "Sainsbury's Local"
    type: "shopping"
  - title: "Marks & Spencer"
    type: "shopping"
  - title: "Tesco Express"
    type: "shopping"

---


{%include hero.html%}

<div class="bg-texture-moon-gray">
  <div class="mw8 center ph3 ph0-l">
    <div class="bg-white w-50-l pa4 nt4 nt5-ns relative z-2">
      <p class="lh-copy ma0 tracked">The Garment Factory is located in the heart of the vibrant Merchant City and only a 2 minute walk from Merchant Square, a well known food, drink and nightlife destination.</p>
    </div>


    <div class="mt3 mt5-ns">
      <h2 class="heading ttu f1 black">Merchant City</h2>

      <div class="lh-copy">
        <p>Merchant City is just minutes away from George Square and the Style Mile shopping district.It is one of Glasgow’s most vibrant areas brimming with art, culture, and fashion and complete with fabulous places to eat and drink. It hosts a number of nationally recognised restaurant names alongside eclectic independent bars, galleries and quirky little shops to explore.</p>

        <p>Also just moments away sits Merchant Square – a stylish hub of independent bars and restaurants all under one roof.</p>
      </div>

    </div>

    <div id="connections" class="pv3 pv5-ns">
      <div class="mw8 center ph3 ph0-l">
        <h2 class="heading ttu f2 f1-ns black tc">Connections</h2>

        <div class="mt3 mt5-ns tracked f6">
          {% for item in page.connections %}
          {% assign total_time = 18.0 %}
            <div class="flex flex-row w-100 items-center">
              <div class="w-90 pr3 relative">
                <span class="db">{{item.location}}</span>
                <span class="db mb2">{{item.destination}}</span>
                {% assign number = item.time | divided_by: total_time | times: 100 | round | minus: 5 %}
                {%if item.movement == "walk"%}
                <img class="absolute dn db-ns progress-icon" style="left: {{number}}%" src="/images/walk-icon.png" alt="Walking icon">
                {%else%}
                <img class="absolute dn db-ns progress-icon progress-icon-drive {{number}}" style="left: {{number}}%" src="/images/drive-icon.png" alt="Driving icon">
                {%endif%}
                <progress class="w-100 progress" max="{{total_time}}" value="{{item.time}}"></progress>
              </div>
              <div class="w-10 tc mt3 heading">
                <span class="db f2">{{item.time | round}}</span>
                <small class="db ttu">mins</small>
              </div>
            </div>
          {% endfor %}

        </div>

      </div>
    </div>

  </div><!-- /mw8 -->

  <div id="local-area" class="overflow-auto">
      <div class="relative center map bg-center contain center nowrap">
        {%for item in page.map %}

          {% assign borderColor = nil %}
          {% if item.type contains 'occupier' %}
            {% assign borderColor = 'b--white' %}
          {% elsif item.type contains 'food-drink' %}
            {% assign borderColor = 'b--black' %}
          {% else %}
            {% assign borderColor = 'b--gray' %}
          {%endif%}
          <span id="{{ item.title | slugify | append: "-tooltip" }}" tooltip="{{item.title}}" title="{{item.title}}" class="marker absolute {{item.title | slugify | prepend: "marker-"}} bw2 h1 w1 dtc br-pill ba {{borderColor}} bg-yellow"></span>
        {%endfor%}
      </div>

  </div>

  <div class="mw8 center mt3">
    <div class="flex flex-column flex-row-ns">
      <div class="w-100 w-33-ns tracked pb4 pb0-ns pr3-m pr5-l">
        <div class="dt mb2 ph2">
          <div class="dtc">
            <h4 class="v-mid normal underline ma0 pr2 f4">Occupiers</h4>
          </div>
          <span class="h1 w1 dtc br-pill ba b--white bw2 bo bg-yellow v-mid"></span>
        </div>
        <ul class="list pl0">
          {%for item in page.map%}
          {%if item.type == "occupier"%}
          <li class="db">
            <a id="{{ item.title | slugify }}" class="dib link-map black link hover-bg-yellow pa2" href="javascript:void(0)">{{item.title}}</a>
          </li>
          {%endif%}
          {%endfor%}
        </ul>
      </div>
      <div class="w-100 w-33-ns tracked pb4 pb0-ns pr3-m pr5-l">
        <div class="dt mb2 ph2">
          <div class="dtc">
            <h4 class="v-mid normal underline ma0 pr2 f4">Food/Drink</h4>
          </div>
          <span class="h1 w1 dtc br-pill ba b--black bw2 bo bg-yellow v-mid"></span>
        </div>
        <ul class="list pl0">
          {%for item in page.map%}
          {%if item.type == "food-drink"%}
          <li class="db">
            <a id="{{ item.title | slugify }}" class="dib link-map black link hover-bg-yellow pa2" href="javascript:void(0)">{{item.title}}</a>
          </li>
          {%endif%}
          {%endfor%}
        </ul>
      </div>
      <div class="w-100 w-33-ns tracked">
        <div class="dt mb2 ph2">
          <div class="dtc">
            <h4 class="v-mid normal underline ma0 pr2 f4">Shopping</h4>
          </div>
          <span class="h1 w1 dtc br-pill ba b--gray bw2 bo bg-yellow v-mid"></span>
        </div>
        <ul class="list pl0">
          {%for item in page.map%}
          {%if item.type == "shopping"%}
          <li class="db">
            <a id="{{ item.title | slugify }}" class="dib link-map black link hover-bg-yellow pa2" href="javascript:void(0)">{{item.title}}</a>
          </li>
          {%endif%}
          {%endfor%}
        </ul>
      </div>
    </div><!-- /flex -->
  </div><!-- /mw7 -->

  <div class="bg-texture-white pv5">
    {%include image_slider.html%}
  </div>




</div><!-- /bg-texture -->
