<h4 class="ttu f3 f1-ns ma0 mb5 heading normal">All Enquiries:</h4>
<div class="flex flex-column flex-row-ns">
  <div class="db pr5-ns">
    <h5 class="tracked f4 mt0">Letting agent</h5>
    <img src="/images/ryden-logo.png" alt="Ryden logo">
    <div class="tracked">
      <p class="ma0 mt3 fw7">
        Tim Jacobsen<br>
        <a class="link black hover-white underline f7 f6-ns" href="mailto:tim.jacobsen@ryden.co.uk">tim.jacobsen@ryden.co.uk</a>
      </p>
    </div>
  </div>
  <div class="db mt4 mt0-ns">
    <h5 class="tracked f4 mt0">Developer</h5>
    <img src="/images/castleforge-logo.png" alt="Castleforge Partners">
    <div class="tracked">
      <p class="ma0 mt3 fw7">
        Rachael Pittaway <br>
        <a class="link black hover-white underline f7 f6-ns" href="mailto:rpittaway@castleforgepartners.com">rpittaway@castleforgepartners.com</a>
      </p>
    </div>
  </div>
</div><!-- /flex -->
