<h4 class="ttu f3 f1-ns ma0 mb5">All Enquiries:</h4>
<div class="flex flex-column flex-row-ns">
  <div class="db pr5-ns">
    <img src="/images/ryden-logo.png" alt="Ryden logo">
    <div class="tracked">
      <p class="ma0 mt3">
        Tim Jacobsen<br>
        <a class="link black hover-white underline" href="mailto:tim.jacobsen@ryden.co.uk">tim.jacobsen@ryden.co.uk</a>
      </p>
    </div>
  </div>
  <div class="db mt4 mt0-ns">
    <img src="/images/bnp-logo.png" alt="BNP Real Estate logo">
  </div>
</div><!-- /flex -->
