<div class="bg-black dt w-100 relative">
  <div class="cover bg-header-{{page.class}} bg-center bg-header">
    <div class="absolute w-100 h-100 bg-black-30 z-1"></div>
    <div class="mw8 center ph3 ph0-l z-2 relative pv4 pv6-ns">
      {%if page.class == "index"%}
      <h2 class="f1 heading normal f-headline-l ttu measure lh-solid white ma0 mb4">Where<br> Ideas<br> Are<br> <span class="yellow">Made</span></h2>
      {%else%}
      <h2 class="f1 heading normal f-headline-l ttu measure lh-solid white mt5-ns ma0 mb4">{{page.hero_title}}</h2>
      {%endif%}
      {% if page.hero_button == true %}
      <a class="{{site.button_classes}}" href="#">Make an Enquiry</a>
      {%endif%}
    </div>
  </div>
</div>
