
// Converted Variables


// Custom Media Query Variables


/*

   LISTS
   http://tachyons.io/docs/elements/lists/

*/

.list {         list-style-type: none; }

.list-dashed {
  li:before {
    content: "- ";
  }
}

.list-yellow {
  li:before {
    color: $yellow;
  }
}
